<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rian.riamessenger">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--
         To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
         option is required to comply with the Google+ Sign-In developer policies
        -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:name=".RiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:noHistory="true"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConversationActivity"
            android:configChanges="orientation"
            android:label=""
            android:noHistory="false"
            android:parentActivityName=".ChatsActivity"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ContactsActivity"
            android:configChanges="orientation"
            android:label="@string/rooms"
            android:noHistory="true"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddNewRoomActivity"
            android:configChanges="orientation"
            android:label=""
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <service
            android:name=".RiaXmppService"
            android:enabled="true">
            <!--<intent-filter>
                <action android:name="ru.rian.riamessenger.RiaXmppService" />
            </intent-filter>-->
            <intent-filter>
                <action android:name="ru.rian.riamessenger.services.STOP_CONNECTION_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="riamessenger.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="ru.rian.riamessenger"
            android:exported="false" />
        <receiver android:name=".ConnectionBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="be1945259e4e4eb447fb5bec921ff84c89369168" />
    </application>

</manifest>
